.board {
  width: 100%;
  text-align: center;
  p {
    font-size: 18px;
    font-weight: bold;
    color: #255C69;
  }
  img {
    width: 30px;
    border-radius: 50%;
  }
  .col-sm-3 {
    margin-bottom: 2%;
    height: 500px;
  }
  .remaining {
    color: #255C69;
    margin-top: 20px;
  }
  .panel {
    border-color: #d6e9c6;
    height: 100%;
    margin-bottom: 10%;
    /* padding-bottom: 16%; */
    min-height: 500px;
    overflow: scroll;
    .row {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  }
  .popup-wrapper {
    .main-body {
      text-align: center;
      .textarea {
        font-size: 20px;
        margin-bottom: 10px;
      }
      img {
        width: 110px;
      }
      .people-name {
        color: #33c8af !important;
        p {

        }
      }
      .backlog-button {
        background: lighten(#ff585d, 5%);
        border: none;
        color: white;
        cursor: pointer;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
      }

      .backlog-button:hover {
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
        background: #ff585d;

      }
    }
  }
}

.panel-body {

  min-height: 200px;
}

.list-group-item {

  margin-top: 20px;
}
