<div class="board">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <p>Task Board</p>

            <div>
                <span>Total Task: <b>{{tasks.length + tasksInProgress.length + tasksInCompleted.length}} </b>--</span>
                <span>In Progress Task: <b>{{tasksInProgress.length }} </b>--</span>
                <span>Completed Task: <b>{{tasksInCompleted.length }}</b></span>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        To Do
                    </div>
                    <div class="panel-body scroll-list" dnd-sortable-container [dropZones]="['boxers-zone']"
                        [sortableData]="tasks">
                        <ul class="list-group">
                            <li *ngFor="let item of tasks; let i = index" dnd-droppable (onDropSuccess)="addTo($event, item, 'ToDo')"
                                (click)="openTask(item,'ToDo')" class="list-group-item" dnd-sortable [sortableIndex]="i">
                                <span *ngFor="let people of peoples">
                                    <img *ngIf="item.people == people.id" src="{{people.photoUrl}}" alt="{{people.firstName}}">
                                </span> {{item.title}}
                                <div class="remaining">
                                    Estimated {{ item.endDate.toDate() | amDifference: item.startDate.toDate() :'days' : true }} days
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        In Progress
                    </div>
                    <div class="panel-body" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="tasksInProgress">
                        <ul class="list-group">
                            <li *ngFor="let item of tasksInProgress; let i = index" dnd-droppable (onDropSuccess)="addTo($event, item, 'Progress')"
                                (click)="openTask(item, 'Progress')" class="list-group-item" dnd-sortable [sortableIndex]="i">
                                <span *ngFor="let people of peoples">
                                    <img *ngIf="item.people == people.id" src="{{people.photoUrl}}" alt="{{people.firstName}}">
                                </span> {{item.title}}
                                <div class="remaining">
                                    Estimated {{ item.endDate.toDate() | amDifference: item.startDate.toDate() :'days' : true }} days
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Completed
                    </div>
                    <div class="panel-body" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="tasksInCompleted">
                        <ul class="list-group">
                            <li *ngFor="let item of tasksInCompleted; let i = index" dnd-droppable (onDropSuccess)="addTo($event, item, 'Completed')"
                                (click)="openTask(item,'Completed')" class="list-group-item" dnd-sortable [sortableIndex]="i">
                                <span *ngFor="let people of peoples">
                                    <img *ngIf="item.people == people.id" src="{{people.photoUrl}}" alt="{{people.firstName }}">
                                </span> {{item.title}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">

                <kendo-chart [seriesColors]="['#ff6358', '#5dc366']">
                    <kendo-chart-legend position="top"></kendo-chart-legend>
                    <kendo-chart-series>
                        <kendo-chart-series-item type="pie" [data]="pieData" field="value" categoryField="category">
                            <kendo-chart-series-item-tooltip background="#ffc000">
                            </kendo-chart-series-item-tooltip>
                        </kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>
            </div>
        </div>

        <div class="popup-wrapper">
            <kendo-dialog title="Task Details" *ngIf="opened" (close)="close('cancel')">
                <div class="main-body">
                    <textarea class="textarea" kendoTextArea [(ngModel)]="seletedTaskTitle"></textarea>
                    <p>Start :{{selectedTaskStartDate.toDate() | date}} - End: {{selectedTaskEndDate.toDate() | date}}</p>
                    <p class="people-name" style="color: #33c8af">Responsible People</p>
                    <span *ngFor="let people of peoples">
                        <img *ngIf="seletedTaskPeople == people.id" src="{{people.photoUrl}}" alt="{{people.firstName}}">
                        <p *ngIf="seletedTaskPeople == people.id">{{people.firstName}}</p>
                    </span>
                    <button class="backlog-button" (click)="saveToBacklog()">Save to Backlog</button>


                </div>
                <kendo-dialog-actions>
                    <button kendoButton (click)="deleteTask()" title="Delete task"><span class="k-icon k-i-x-circle k-icon-64"></span>
                    </button>
                    <button kendoButton (click)="updateTitle()" primary="true"><span class="k-icon k-i-heart k-icon-64"></span>
                    </button>
                </kendo-dialog-actions>
            </kendo-dialog>
        </div>

    </div>
</div>
