@import '../../../../styles/variables.scss';

.chat-message {
  padding: 1.5em;
  display: flex;
  flex-direction: row;

  .image-wrapper {
    margin-right: 1em;
    height: 50px;
    width: 50px;

    img {
      height: 50px;
      width: 50px;
    }
    // object-fit: cover;
  }
  .buble {
    background-color: #f6f6f6;

    .name-row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 0.5em;

      .name {
        text-decoration: underline;
        font-weight: 600;
        padding: 10px;
      }

      .timestamp {
        color: darken($light-grey, 15%);
        font-size: 0.4em;
        display: flex;
        align-self: center;
      }
    }

    .message {
      font-size: 0.8em;
      color: black;
      padding: 10px;
    }
  }
}
.isOwnMessage {

  display: flex;
  flex-direction: row;
  .image-wrapper {
    order: 2;
  }
  .buble {
    order: 1;
    background-color: #dcf8c6;
    align-self: flex-start;

    .name-row {
      display: flex;
    }
    .message {
      display: flex;
      justify-content: flex-end;
    }
  }
}
