@import '../../../styles/variables.scss';

.nav-item {
  color: white;
  cursor: pointer;
}

span {
  color: white;
}
a {
  color: $light-grey;
  margin-left: 3em;

  &.active {
    border-bottom: 3px solid $gold;
  }
}
