@import '../../../../styles/variables.scss';

.chatroom-list {
  border-right: 2px solid $light-grey;
  overflow-y: scroll;

  .chatroom-list-item {
    border-bottom: 1px solid $light-grey;
    padding: 1em;
    height: auto;
    width: 90%;
    margin-top: 20px;
    border-radius: 1px;
    align-items:flex-start;
    background-color: $light-grey;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #A098A5;
    border-radius: 8px;
    transition: ease-in 0.2s;
  }

  .chatroom-list-item:hoover {
    background-color: darkblue;
    color: #ddd;
    transition: ease-in 0.1s;
  }

  .online{
    background-color: #0FA;
}

.busy{
    background-color: #FB0;
}

.offline{
    background-color: #888;
}

.status{
    border: 1px solid black;
    display: inline-block;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    margin: 10px 12px 0px 10px;
}

.unread {
  background-color: lightcoral;
}
}
