
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<app-navbar [drawer]= "drawer"></app-navbar>



<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer class="drawer" #drawer [mode]="over">
    <app-chat></app-chat>
  </mat-drawer>
  <mat-drawer-content>
    <div class="alert-wrapper">
      <alert *ngFor="let alert of alerts" [type]="alert.type" dismissOnTimeout="3000" class="text-center">
        {{alert.text}}
      </alert>
    </div>
        <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>

