@import '../styles/variables.scss';

.alert-wrapper {
  position: relative;

  alert {
    position: absolute;
    top: 0px;
    width: 100%;
  }
}
.example-container {
  height: 100%;
/*   position: absolute;
  top:0;
  left: 0;
  margin-left: -800px; */
}

mat-drawer {

  width: 800px;
}
