
@import "../../../styles/variables.scss";

h1 {

  height: 50px;
  background: #f2f2f2;
  font-size: 2em;
  font-weight: 200;
  padding: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 100px;
}
body {
  height: 100%;
  width: 100%;
}
table  {
  border-collapse: separate;
  border-spacing: 0 10px;
  margin: 20px 30px;
  min-width: 60%;

}


tr {

text-align: center;
padding: 10px;
background-color: lighten($primary, 40%);
margin: 10px 0px !important;
}

#row:hover {
  color: black;
  background-color: #f3f3f3;
}

td  {
  padding: 5px 10px;

}

th {
  padding: 20px 40px;
  font-size: 1.5em;
  font-weight: 100;

}
.button {

  border: none;
  color: $primary;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  height: 100%;
  padding: 5px;
}


